.wrapper{
    padding: 10em;
}

body {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    width:100px;
    height:100px;
    border-radius:150px;
    margin-top: 10px;
}

.img {
    height:300px;
}

.imgP {
    z-index:-1;
    position:relative;
    
}

h3 {
    padding: 0.5em;
    font-style: bold;
}

.parallax{
    position:static;
}

li{
    display:inline-block;
   
}

ul.collapsible li div.collapsible-header {
    text-decoration: none;
}

ul#nav-desktop li a {
    transition: 5s;
}

.btn-color {
    background-color: blue;
}

